name: CI

on:
  pull_request:
  push:
    tags:
      - v*
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: azure/setup-helm@v4.3.0

      - name: build
        run: |
          helm dependency update
          helm package .

      - name: test-setup
        # Docs and local install guide: https://kind.sigs.k8s.io/
        uses: helm/kind-action@v1
      - name: test
        run: |
          # 'kubectl wait' covers trivial availability checks. For non-trivial cases, use a more idiomatic 'helm test': https://helm.sh/docs/topics/chart_tests/
          helm install vikunja . --values ./templates/tests/install/values.yaml
          kubectl wait --for condition=available --timeout 30s deploy/vikunja

      - name: Push to Github Container Registry (OCI)
        if: ${{ github.ref_type == 'tag' }}
        shell: bash
        env:
          REGISTRY: ghcr.io/go-vikunja/helm-chart
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login "ghcr.io" --username "${GITHUB_ACTOR}" --password-stdin
          helm push vikunja-*.tgz oci://${REGISTRY}

      - name: Release
        if: ${{ github.ref_type == 'tag' }}
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          draft: true
          files: |
            vikunja-*.tgz
